<form [formGroup]="formGroup">
  <div class="row">

      <input matInput type="text"  formControlName="name" placeholder="name" />


      <input matInput type="email" formControlName="email" placeholder="email" />


      <input matInput type="number" formControlName="phone" placeholder="phone"/>

      <input matInput type="url" formControlName="website" placeholder="website"/>

      <input matInput type="password" formControlName="password" placeholder="password"/>
      <mat-radio-group aria-label="Select an option" formControlName="type">
        <mat-radio-button value="NGO">NGO</mat-radio-button>
        <mat-radio-button value="Goverment">Goverment</mat-radio-button>
        <mat-radio-button value="Religious">Religious</mat-radio-button>
      </mat-radio-group>
  </div>



  <div class="actions">
    <button mat-raised-button color="primary" (click)="onUpdateClicked()">
      update
    </button>
  </div>

</form>
