<div class="main">
  <div class="container">
    <table mat-table [dataSource]="dataSource"  >


      <ng-container matColumnDef="name" >
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let row"> {{row.name}}</td>
      </ng-container>


      <ng-container matColumnDef="skills">
        <th mat-header-cell *matHeaderCellDef > skills  </th>
        <td mat-cell *matCellDef="let row"> {{row.skills}} </td>
      </ng-container>

      <ng-container matColumnDef="purpose" >
        <th mat-header-cell *matHeaderCellDef > purpose </th>
        <td mat-cell *matCellDef="let row"> {{row.purpose}} </td>
      </ng-container>


      <ng-container matColumnDef="startdate" >
        <th mat-header-cell *matHeaderCellDef > startdate</th>
        <td mat-cell *matCellDef="let row"> {{row.startdate}}  </td>
      </ng-container>

      <ng-container matColumnDef="enddate" >
        <th mat-header-cell *matHeaderCellDef > enddate </th>
        <td mat-cell *matCellDef="let row"> {{row.skills}}  </td>
      </ng-container>

      <ng-container matColumnDef="volunteerIn">
        <th mat-header-cell *matHeaderCellDef > volunteerIn </th>
        <td mat-cell *matCellDef="let row"> {{row.volunteerIn}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef > actions </th>
        <td mat-cell *matCellDef="let row">
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="onApproveClicked(row)">
            <span>Approve</span>
          </button>
          <button mat-menu-item (click)="onDeleteClicked(row)">
            <span>Delete</span>
          </button>

        </mat-menu></td>
      </ng-container>


    </table>

  </div>


</div>

