<div class="main">
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label> Signup as Company </ng-template>
      <div class="signup-card">
        <form [formGroup]="formGroup">
          <div class="row">
            <div class="col">
              <label for="file" class="logo">logo</label>
              <input id="file" type="file" (change)="onFileInputChange($event)" accept="image/" formControlName="logo" >
              <img [src]="imgSrc" alt=""
                *ngIf="formGroup.controls['logo'].value">
            </div>
            <mat-form-field appearance="outline">
              <mat-label>Company Name</mat-label>
              <input matInput type="text" formControlName="name" />
              <mat-error *ngIf="name.invalid">user name required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput type="email" formControlName="email" />
              <mat-error *ngIf="email.invalid">{{
                getEmailErrorMessage()
              }}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Phone Number</mat-label>
              <input matInput type="number" formControlName="phone" />
              <mat-error *ngIf="phone.invalid">user phone required</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Website</mat-label>
              <input matInput type="url" formControlName="website" />
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput type="password" formControlName="password" />
              <mat-error *ngIf="password.invalid">{{
                getPasswordErrorMessage()
              }}</mat-error>
            </mat-form-field>
          </div>

          <mat-radio-group aria-label="Select an option" formControlName="type">
            <mat-radio-button value="NGO">NGO</mat-radio-button>
            <mat-radio-button value="Goverment">Goverment</mat-radio-button>
            <mat-radio-button value="Religious">Religious</mat-radio-button>
          </mat-radio-group>
        </form>

        <button mat-raised-button color="primary" (click)="onSignupClicked()">
          Signup
        </button>

        <a [routerLink]="['/auth/login']">login</a>
      </div>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label> Signup as Technical </ng-template>
      <app-t-signup></app-t-signup>
    </mat-tab>
  </mat-tab-group>
</div>
