form{
  margin: 100px;
  padding: 20px;
  border-radius: 15px;
  background-color: #e9e9e9;
  box-shadow:  0.3906px 2.79px 6.975px hsl(0, 0%, 66.339%),  -0.3906px -1.79px 6.975px hsl(0, 0%, 115.661%),  inset -0.126px -0.9px 3.6px hsl(0, 0%, 66.339%),  inset 0.126px 0.9px 3.6px hsl(0, 0%, 115.661%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.row{
width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
input{
  min-width: 30%;
  height: 50px;
  border-radius: 15px;
  box-shadow: inset 2px 2px 5px #babecc,
              inset -5px -5px 10px #ffffff;
  transition: all 0.2s ease-in-out;
  appearance: none;
  -webkit-appearance: none;
  color: #404868;
}
button,input{
  border: 0;
  outline: 0;
  font-size: 12px;
  padding: 16px;
  background-color: #ebecf0;
}
input:focus{
  box-shadow: inset 3px 3px 6px #babecc,
              inset -5px -5px 10px #ffffff;}
button{
  width: 30%;
  min-width: 100px;
  color: #424c71;
  font-weight: bold;
  box-shadow: -5px -5px 20px #fff, 5px 5px 20px #babecc;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  font-weight: 600;
  border-radius: 10px;
}
button:hover{
  box-shadow: -2px -2px 5px #fff, 2px 2px 5px  #babecc;
}
button:active{
  box-shadow: inset 2px 2px 3px #babecc,
  inset -4px -4px 7px rgb(245, 245, 245);
}

.actions{
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
