<form [formGroup]="formGroup">
  <div class="row">
    <input matInput placeholder="name" id="name" name="name" formControlName="name">

    <input matInput placeholder="description" formControlName="purpose">

    <input matInput placeholder="skills" formControlName="skills">

    <input matInput placeholder="startdate" formControlName="startdate">

    <input matInput placeholder="enddate" formControlName="enddate">

    <input matInput placeholder="volunteer work type" formControlName="volunteerIn">
  </div>

  <button (click)="onRequestClicked()">request</button>

</form>

