<mat-toolbar>
  <span>logo</span>
  <div>
      <button mat-flat-button (click)="onLoggedinClicked()" >login</button>
      <button mat-flat-button (click)="onSignupClicked()" >signup</button>
  </div>
</mat-toolbar>

<main>
  <section class="main">
    <h1>Who we are?</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt quibusdam eligendi porro veniam error beatae exercitationem nostrum nam labore magni ratione a nihil, aperiam quod assumenda alias ipsum quas quasi?</p>
  </section>

  <section class="logo-cards-container">
    <mat-card class="logo-card">
      <h5>NGO name</h5>
    </mat-card>
    <mat-card class="logo-card">
      <h5>NGO name</h5>
    </mat-card>
    <mat-card class="logo-card">
      <h5>NGO name</h5>
    </mat-card>
    <mat-card class="logo-card">
      <h5>NGO name</h5>
    </mat-card>

  </section>

  <section class="cards-container">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>title</mat-card-title>
        <mat-card-subtitle>subtitle</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius voluptatem atque, esse dolor quisquam, exercitationem necessitatibus aperiam aut asperiores nemo eveniet distinctio ad dolore tempore, perferendis sit aliquid odit amet!</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>title</mat-card-title>
        <mat-card-subtitle>subtitle</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius voluptatem atque, esse dolor quisquam, exercitationem necessitatibus aperiam aut asperiores nemo eveniet distinctio ad dolore tempore, perferendis sit aliquid odit amet!</p>
      </mat-card-content>

    </mat-card>

    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>title</mat-card-title>
        <mat-card-subtitle>subtitle</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius voluptatem atque, esse dolor quisquam, exercitationem necessitatibus aperiam aut asperiores nemo eveniet distinctio ad dolore tempore, perferendis sit aliquid odit amet!</p>
      </mat-card-content>
    </mat-card>
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>title</mat-card-title>
        <mat-card-subtitle>subtitle</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius voluptatem atque, esse dolor quisquam, exercitationem necessitatibus aperiam aut asperiores nemo eveniet distinctio ad dolore tempore, perferendis sit aliquid odit amet!</p>
      </mat-card-content>

    </mat-card>
  </section>
</main>
