<div class="main">
  <div class="login-card">
    <h3>Login</h3>
    <mat-form-field appearance="outline" class="field-width">
      <mat-label>Email</mat-label>
      <input matInput>
    </mat-form-field>

    <mat-form-field appearance="outline" class="field-width">
      <mat-label>Password</mat-label>
      <input matInput>
    </mat-form-field>

    <button mat-raised-button color="primary" (click)="onloginClicked()">Login</button>

    <a [routerLink]="['/auth/signup']"> create account</a>
  </div>
</div>
