.main{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6e6e6;
}
.login-card{
  min-width: 300px;
  max-width: 900px;
  min-height: 300px;
  border-radius: 21px;
  background: #e6e6e6;
  border-radius: 21px;
  box-shadow:  0.3906px 2.79px 6.975px hsl(0, 0%, 66.339%),  -0.3906px -1.79px 6.975px hsl(0, 0%, 115.661%),  inset -0.126px -0.9px 3.6px hsl(0, 0%, 66.339%),  inset 0.126px 0.9px 3.6px hsl(0, 0%, 115.661%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}

h3{
  text-align: center;
  font-size: 1.8;
  font-weight: 400;
}
.field-width{
  width: 400;
}
button{
  width: 90%;
}
a{
  font-size: small;
  margin-top: 10px;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;

}
