mat-toolbar{
  padding: 0;
  background-color: #06090e;
  color: #F9F7F7;
  justify-content: space-between;
  height: 50px;
}

mat-toolbar button{
width: 50px;
font-size: smaller;
justify-content: center;
align-items: center;
}
mat-toolbar div{
width: 150px;
display: flex;
flex-direction: row;
justify-content: center;
}
mat-toolbar div button{
  width: 80px;
  font-size: small;
}
mat-sidenav{
    width: 50px;
    background-color: #06090e;
    box-shadow:  -1px 1px 2.5px hsl(218, 40%, 2.8%),  1px 0px 2.5px hsl(218, 40%, 5.2%),  inset 2px -2px 8px hsl(218, 40%, 2.8%),  inset -2px 2px 8px hsl(218, 40%, 5.2%);    border: none;
}
mat-list-item{
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
mat-list-item mat-icon{
    cursor: pointer;
    color: #F9F7F7;
    /* display: flex; */
}

mat-sidenav-container{
  min-height: calc(100% - 50px);
  width: 100%;
  padding-right: 3%;
  background-color: #ebecf0;
  box-shadow: inset 2px 2px 3px #191a1f,
  inset 4px 4px 6px rgb(245, 245, 245);}
mat-sidenav-content{
  width: 100%;
  padding: 2%;
}



/* .col {
    flex: 1 1 auto;
  }
  mat-sidenav-container {
    height: 100vh;
  }
  mat-sidenav {
    width: 80px;
    background-color: #1d1918;
    color: #fff;
    padding: 1rem;
  }
  main {
    padding: 1rem;
    min-height: calc(100vh - 66px);
  }
  .child-items {
    padding-inline-start: 24px !important;
  }

  a {
    text-decoration: none;
    cursor: pointer;
  }
  mat-icon {
    color: #fff;
    margin-inline-end: 10px;
  }

  .item-text {
    color: #fff;
    font-weight: 600;
  }
  .content {
    padding: 0.8rem;
    min-height: 100%;
  }

  mat-list-item {
    cursor: pointer;
  } */
